.maya {
    display: flex;
    height: 100vh;
}

.highlighted {
    background-color: #eee;
}

/* ---- I column ---- */

.maya-tags-list { /* also column */
    width: 5em;
    min-width: 5em;

    padding-top: 8px;
    padding-left: 1em;
    /*font-family: monospace;*/
    text-align: center;
}

.tag-item {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    cursor: pointer;
}

/* ---- II column ---- */

.tag-column {
    width: 12em;
    min-width: 12em;
    display: flex;
    flex-direction: column;

    padding-top: 8px;
    padding-left: 1em;
}

.tag-meta {
    height: 4em;
}

.tag-sutrani-list {
    flex-grow: 1;
    overflow-y: auto;
}

.sutra-item {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 14px;
    cursor: pointer;
}

.sutra-pid {
    font-family: monospace;
}

/* ---- III column ---- */

.sutra-column {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.sutra-meta {
    height: 4em;
}

.sutra-suwar-list {
    flex-grow: 1;
    overflow-y: auto;

    padding-left: 50px;
}

