.maya {
    display: flex;
    height: 100vh;
}

:global(.dark) {
    color: #fff;
    background-color: #000;
}

:global(.light) .highlighted {
    background-color: #eee;
}

:global(.dark) .highlighted {
    background-color: #111;
}

/* ---- I column ---- */

.tags-column {
    width: 5rem;
    min-width: 5rem;
    display: flex;
    flex-direction: column;

    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

.tags-list {
    flex-grow: 1;
    overflow-y: auto;
    /*font-family: monospace;*/
}

.tag-item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
}

/* ---- II column ---- */

.tag-column {
    width: 12rem;
    min-width: 12rem;
    display: flex;
    flex-direction: column;

    padding-top: 0.5rem;
    padding-left: 1rem;
}

.tag-meta {
    height: 4rem;
}

.tag-sutrani-list {
    flex-grow: 1;
    overflow-y: auto;
}

.sutra-item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    cursor: pointer;
}

.sutra-pid {
    font-family: monospace;
}

/* ---- III column ---- */

.sutra-column {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.sutra-meta {
    padding-top: 0.5rem;
    padding-right: 1rem;
    height: 4rem;
    text-align: right;
}

.sutra-suwar-list {
    flex-grow: 1;
    overflow-y: auto;

    padding-left: 3.125rem;
}

