:import("index.css") { surah-item: surah-item; revoked: revoked; }

.meta {
    /* margin-top: 3px; */
    opacity: 0;
    font-family: monospace;
    display: flex;
    transition: opacity 100ms ease-out;
}

:global(.light) .meta, :global(.light) .meta a {
    color: #bbb;
}

:global(.dark) .meta, :global(.dark) .meta a {
    color: #444;
}

.surah-item:hover .meta {
    opacity: 100;
    visibility: visible;
    transition: opacity 200ms ease-in;
}

.surah-item.revoked:hover .meta,
.surah-item.revoked:hover .meta a {
    color: #a44
}

.meta a {
    text-decoration: none;
    font-family: monospace;
}

.action {
    cursor: pointer;
}

.meta-link {
    flex-grow: 1; 
}
