:import("index.css") { surah-item: surah-item; }

.sutra {
/* #posts > div > div - post with thread; but this style only should apply in tag view */
    margin-bottom: 40px;
}
.sutra .surah-item, .sutra .more {
    width: auto;
    box-sizing: border;
    margin-left: 50px;

}
.sutra .more {
    font-style: italic;
    padding-left: 10px;
}
.sutra .more a {
    text-decoration: none;
}

:global(.light) .sutra .more a {
    color: #bbb;
}

:global(.dark) .sutra .more a {
    color: #444;
}

