.attachments {
    display: flex;
    flex-direction: row;
    margin-bottom: 16;
}

.info-field {
	margin-right: 0.5em;
}

.attachment .action, .attachment a {
	text-decoration: underline;
	/* font-weight: bold; */ 
	cursor: pointer;
}

:global(.light) .attachment .action, :global(.light) .attachment a {
    color: #bbb;
}

:global(.dark) .attachment .action, :global(.dark) .attachment a {
    color: #444;
}